**/build
**/.settings
**/.classpath
**/bin
**/lib
**/target
**/plugin.xml
*.augmented.*
**/*.ipr
**/*.iws
**/.gradle
**/cert
**/out
**/.dev/
**/.tmp/
**/.DS_Store
**/*.sublime-project
**/*.sublime-workspace
**/bower_components/
**/node_modules/
**/test/coverage/
**/dist
**/npm-debug.log
**/pdf-out
data/
.project
*-ui.js
*-ui.tpl.js

classes/*

*.iml

.idea/*
!.idea/vcs.xml
!.idea/modules.xml
!.idea/encodings.xml
!.idea/codeStyleSettings.xml
!.idea/runConfigurations/
!.idea/jsLinters